### Cargando librerías

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

### Cargando datos

In [11]:
tickers = ['PG', 'BEI.DE']
act_data = pd.DataFrame()

for t in tickers:
    act_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

In [12]:
act_data.tail()

                    PG     BEI.DE
Date
2022-02-16  158.009995  88.239998
2022-02-17  159.820007  90.320000
2022-02-18  159.899994  91.120003
2022-02-22  157.929993  86.720001
2022-02-23  155.960007  88.459999

In [14]:
act_retorno = np.log(sec_data/sec_data.shift(1))

In [15]:
act_retorno

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2022-02-16  0.007560 -0.001133
2022-02-17  0.011390  0.023299
2022-02-18  0.000500  0.008818
2022-02-22 -0.012397 -0.049493
2022-02-23 -0.012552  0.019866

[3813 rows x 2 columns]

## Procter and Gamble

In [16]:
act_retorno['PG'].mean()

0.0003481440631748329

In [17]:
act_retorno['PG'].mean()*250

0.08703601579370823

In [18]:
act_retorno['PG'].std()

0.011702727920274195

In [19]:
act_retorno['PG'].std()*250**0.5

0.18503637532655923

## Beiersdorf

In [20]:
act_retorno['BEI.DE'].mean()

0.00018064048675698404

In [21]:
act_retorno['BEI.DE'].mean()*250

0.04516012168924601

In [22]:
act_retorno['BEI.DE'].std()

0.013704744997254324

In [23]:
act_retorno['BEI.DE'].std()*250**0.5

0.21669104471560852

### Comparando los resultados

In [24]:
print(act_retorno['PG'].mean()*250)
print(act_retorno['BEI.DE'].mean()*250)

0.08703601579370823
0.04516012168924601